<!-- EJS TEMPLATE -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>EJS - To Do List</title>
</head>

<body>

  <h1> <%= kindOfDay %> </h1>
  <ul>
    <% for(var i = 0; i < newListItems.length; i++){ %>
    <li><%= newListItems[i] %></li>
    <% } %>
  </ul>

  <form action="/" method="POST">
    <label for="">Item:</label>
    <input type="text" name="newItem" placeholder="Enter Your New Item" autofocus>
    <button type="submit">Add Item!</button>
  </form>

</body>

</html>